*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;
}
body{
    width: 100%;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    padding:40px 0;
}
h1{
    font-size: 50px;
    line-height:60px;
    color: #222;
}
h2{
    font-size: 50px;
    line-height:64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height:54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-size: 12px;
    font-weight:700px;
    
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.header img{
    max-width: 50px;
}
.header{
    display:flex;
        list-style: none;
        align-items: center;
        margin: 0;
        justify-content: space-between;
        padding: 13px 20px; /* Adjust padding as needed */
        background: #d9d9d7;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
        z-index: 999;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%; /* Set the width to 100% */
}
nav ul{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
}
nav li{
    padding: 0 20px;
    position: relative;
}
nav li  a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.5s ease;
}
nav li i{
    font-size: 25px;
    margin-right: 20px;
    transition: 0.5s ease;
}
nav li a:hover,nav li a.active ,nav li i:hover{
    color: #088178;
    cursor: pointer;
}
nav li a.active::after,nav li a:hover::after 
{
    content: "";
    width: 30%;
    height: 2.5px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left:20px;
}
#welcome{
    background: url("background.jpg");
    background-position: top 25% right 0%;
    height: 90vh;
    width: 100%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}
#welcome h4{
    padding-bottom: 15px;
}
#welcome h1{
    color: #088178;
}
#welcome button{
    background-image: url("download.jpeg");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    background-position: center;
    background-size:auto;
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top:20px ;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro-container a{
    text-decoration: none;
}
#product1 .pro .des{
    text-align: start;
    padding:10px 0 ;
}
#product1 .pro .des span{
    color: #060606;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #088178;
}
.sidebar{
    display: none;
}
#product1 .pro .cart{
    width:40px;
    height:40px;
    line-height:40px;
    border-radius:50px;
    background-color:#e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#small-ban{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
#small-ban .ban-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-width: 580px;
    height: 50vh;
    background-image: url("banner1.jpeg");
    background-position: center;
    background-size: cover;
    padding-left: 25px;
}
#small-ban h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#small-ban h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}
#small-ban span{
    color: white;
    font-size: 14px;
    font-weight: 500;
}
#small-ban .ban-box2{
    background-image: url("banner2.jpeg");
}
footer .mob-footer{
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
    max-width: 300px;
    max-height: 150px;
    padding-right: 0;
    margin-right: 0;
    margin-top: -10px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin:0 0 8px 0 ;
}
footer a{
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    font-size: 13px;
    margin:0 0 8px 0 ;
}
footer .follow{
    margin-top: 12px;
}
footer .follow i{
    color: #465b52;
    font-size: 20px;
    cursor: pointer;
    padding-right:6px ;
}
footer .follow i:hover ,footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
footer .about{
    margin-top: 0;
}
#byebye{
    text-align: center;
    background-color:#f5f4f4;
    width: 100%;
    box-shadow:10px 10px  rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0 20px 0;
    margin-left: 0;
    margin-right: 0;
    background-size: 100%;
    background-position: 0 100% 0 100%;
}
#byebye h4{
    font-size: 27px;
    font-family:'Courier New', Courier, monospace ;
}
#byebye p{
    color:#1a1a1a ;
}
#feedback{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #F5F5F5;
    padding: 15px 0;
    margin-top: -15px;
}
#feedback .feedback{
    display: flex;
}
.feedback input{
    margin-bottom: 25px;
    height: 3.125rem;
    width: max-content;
    padding: 0 1.25em;
    font-size: 14px;
    align-items: flex-start;
    border: 1px solid #088178;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: -80px;
}
.feedback button{
    cursor: pointer;
    background-color:#088178;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: #088178;
    font-size: 20px;
    color: white;
    width: 60px;
    height:3.125rem ;
}
#feedback p{
    font-size: 20px;
}
.show-on-mobile{
    display: none;
}
@media (max-width: 1025px) {
    #welcome{
        background: url("background.jpg");
        background-position: top 0 right 10% bottom 0 left 70% ;
        height: 90vh;
        width: 100%;
        background-size:cover;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
    }
    #welcome #text{
        margin-left: -55px;
        padding-top: 10px;
        margin-top: 35px;
    }
    #small-ban .ban-box{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        min-width: 360px;
        height: 24vh;
        background-image: url("banner1.jpeg");
        background-position: center;
        background-size:contain;
        text-shadow: #222 0.2em 0.2em 0.2em;
    }
    #small-ban .ban-box2{
        background-image: url("banner2.jpeg");
    }
    #product1 .pro-container{
        display: flex;
        justify-content:initial;
        padding-top:20px ;
        flex-wrap: wrap;
    }
    #product1 .pro-container .pro{
        margin-left: 20px;
    }
}
@media (max-width:775px) {
    .row{
        display: flex;
        flex-direction: column;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 17px;
    }
    .column{
        margin: auto;
        max-width:fit-content ;
    }
    #submit{
        text-align: center;
        margin-left: 25%;
        width: 170px;
    }
    #feedback{
        display: flex;
        flex-direction: column;
        background-color: #F5F5F5;
    }
    #product1 .pro-container{
        display: flex;
        justify-content:space-between;
        padding-top:20px ;
        flex-wrap: wrap;
    }
    #product1 .pro-container .pro{
        margin-left: 30px;
    }
    footer .logo{
        margin-left: -50px;
        max-width: 120px;
        padding-right: 5px;
    }
    footer .col a,footer .col p{
        font-size: 15px;
    }
    footer .follow .social-icons a{
        font-size: 17px;
    }
    #welcome #text h2{
        font-size:40px;
    }
    #welcome #text h1{
        font-size:45px;
    }
    #small-ban .ban-box{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        min-width: 290px;
        height: 26vh;
        background-image: url("banner1.jpeg");
        background-position: center;
        background-size:contain;
        text-shadow: #222 0.2em 0.2em 0.2em;
    }
    #small-ban .ban-box span,#small-ban .ban-box h2,#small-ban .ban-box h4{
        font-size: 15px;
        margin-left: -10px;
    }
    #small-ban .ban-box2{
        background-image: url("banner2.jpeg");
    }
    #byebye .large-ban h4{
        font-size: 23px;
    }
    #feedback div{
    margin: auto;
    }
    #feedback .feedback  {
        text-align: center;
        margin: auto;
    }
    .header{
        display: flex;
        list-style: none;
        align-items: center;
        margin: 0;
        justify-content: space-between;
        padding: 13px 40px;
        background: #d9d9d7;
        box-shadow: 0 5px 15px  rgba(0, 0, 0, 0.06);
        z-index: 999;
        position:sticky;
        top: 0;
        left:0;
    }
}
@media (max-width:480px) {
    .row{
        display: flex;
        flex-direction: column;
    }
    .column{
        margin: auto;
        max-width:fit-content ;
    }
    .about-div:hover{
        transform: translateX(4%);
        color:#088178;
    }
    .about-us-title{
    margin-bottom: 40px;
    }
    .sidebar li a i{
        margin-right: 15px;
    }
    .sidebar{
        filter:drop-shadow(0 0 0.85rem grey);
        background-color:#d9d9d7;
        border-radius: 10px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 280px;
        z-index: 999;
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
    }
    .sidebar .click-sidebar:hover,.sidebar .click-sidebar a:hover {
        color: #088178;
        background-color: #EFECEC;
    }
    .nav-not-for-mob{
        display: none;
    }
    .sidebar li p{
        font-family: 'Sofia Pro';
        font-size: 23px;
        font-weight: 600;
        color: #1a1a1a;
        margin-left: 20px;
        margin-bottom:0 ;
        margin-top: -20px;
    }
    .sidebar li{
        border-radius: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
    }
    .sidebar li a{
        font-family: 'Sofia Pro';
        margin-bottom: 25px;
        text-decoration: none;
        font-size: 23px;
        color: #1a1a1a;
        margin-left:20px;
    }
    .sidebar li .x{
        margin-left: 210px;
        font-size: 40px;
    }
    .sidebar li .x:hover{
        color:#088178;
        background-color: transparent;
    }
    .show-on-mobile{
        margin-left: 100px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-right: -55px;        
    }
    .sac{
        margin-right: -15px;
    }
    header{
        display:flex;
        list-style: none;
        align-items: center;
        margin: 0;
        justify-content: space-between;
        padding: 13px 20px; /* Adjust padding as needed */
        background: #d9d9d7;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
        z-index: 999;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%; /* Set the width to 100% */
    }
    #welcome{
        background-position: 0px 0 0 0; 
        background-position-y: -20px;
        background-position-x: 27px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color:#f5f5f3;
    }
    #welcome #text h2{
        font-size: 30px;
    }
    #welcome #text h1{
        font-size: 32px;
    }
    #product1 h2{
        font-size: 30px;
    }
    #product1 p{
        font-size:medium;
    }
    .pro-container{
        margin: auto;
    }
    #small-ban .ban-box{
        margin-bottom: 20px;
    }
    #byebye .large-ban h4{
        font-size: 20px;
    }
    #byebye .large-ban p{
        font-size: 13px;
        padding-left:5px ;
        padding-right: 5px;
    }
    #feedback{
        font-size: 15px;
        text-align: center;
    }
    #feedback .feedback{
        margin: auto;
        padding-left:30px ;
    }
    footer .logo{
        display: none;
    }
    .mob-footer{
        display: flex;
        flex-direction: column;
    
    }
    
}            
/*contacts page style*/
#phoneNumber ,#lastname ,#firstname,#subject {
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  #submit {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  } 
  /* Styles for the form */
  #submit:hover {
    background-color: #45a049;
  }
  .column {
    float: left;
    width: 700px;
    margin-top: 6px;
    padding: 20px;
    border-radius: 5px;
  }
  #contact{
    margin-top: 0;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .container-contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  #contact .container-contact .row{
    display: flex;
  }
  .img{
    margin-top: 40px;
    max-width: 770px;
}
/*About Us style*/
.about-us-title{
    text-align: center;
    font-size: 29px;
    margin-bottom: 30px;
    color: #22668D;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-us-s-title {
    color: #22668D;
    font-size: 18px;
    padding: 10px;
    margin-left: 7px;
}
.about-us-h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #22668D;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 39px;
}
.about-us-p{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}
.about-div{
    max-width: 90%;
    text-align: justify;
    padding-left: 20px;
    transition: 0.45s ease-in;
}
.about-end{
    margin-bottom: 39px;
}
.about-div:hover{
    transform: translateX(1.2%);
    color:#088178;
}
#banner-page{
    background-image: url("banner-page.jpeg");
    background-position: center;
    background-size: cover;
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #060606;
    filter: drop-shadow(0 0 0.45rem grey);
}
#banner-page h2{
    font-size: 40px;
    font-weight: 750;
}
#banner-page p{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
}
#pages{
    text-align: center;
}
#pages a{
    text-decoration: none;
    background-color: #088178;
    font-weight: 650;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    transition: 0.3s ease-in;
}
#pages a i{
    font-weight: 650;
    font-size: 16px;
}